.projectDiv {
    padding: 12px 5%;
    height: 90%;
    width: var(--100-percent);
}

.projectDiv h3 {
    color: var(--light-blue-color2);
    font-size: var(--2point5rem);
    margin-bottom: var(--4rem);
}

.projectDiv>div {
    margin-top: var(--4rem);
    width: var(--100-percent);
}

.projectLilDiv {
    justify-content: space-between;
    width: var(--100-percent);
    width: var(--100-percent);
}

.aside1 {
    width: 45%;
}

.aside1>div {
    gap: 1.2rem;
}

.aside2 {
    width: var(--50-percent);
}

.aside1 h4 {
    color: var(--light-blue-color2);
    font-size: var(--2rem);
}

.aside1>div>p {
    color: var(--white-color-1);
    font-size: var(--1rem);
    line-height: 30px;
}

.aside1>div>ul {
    list-style: none;
    gap: var(--1rem);
    color: var(--light-blue-color2);
    font-weight: 400;
    font-size: 0.8rem;
}

.aside1>div>ul>li {
    text-transform: uppercase;
}

.sourceLinks {
    gap: var(--1rem);
}

@media (min-width: 200px) and (max-width: 767px) {
    .projectLilDiv {
        flex-direction: column-reverse;
    }

    .aside1 {
        width: var(--100-percent);
    }

    .aside2 {
        width: var(--100-percent);
    }
}