* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.Header {
    height: var(--100vh);
    width: var(--100-percent);
    padding: 2% 5%;
    background: linear-gradient(to bottom, var(--dark-blue-color) var(--50-percent), var(--dark-blue-color2) var(--50-percent));
}

.name {
    color: var(--light-blue-color2);
}

.headDtls {
    color: var(--white);
    font-size: var(--4rem);
    line-height: 6rem;
}

.headerCreate {
    font-size: 1.5rem;
    color: var(--light-blue-color2);
}

.icons {
    gap: 0.5rem;
    margin-top: var(--1rem);
}

.icons>a {
    color: var(--white);
    font-size: var(--1rem);
}

@media (min-width: 200px)and (max-width: 767px) {
    .headDtls {
        line-height: 3rem;
    }
}