:root {
  --light-blue-color: #65b7cc;
  --light-blue-color2: #0e98bb;
  --white-color-1: #cfcece;
  --white: #fff;
  --dark-blue-color: #0a1624;
  --dark-blue-color2: #073946;
  --1rem: 1rem;
  --1point5rem: 1.5rem;
  --2point5rem: 2.5rem;
  --2rem: 2rem;
  --3rem: 3rem;
  --4rem: 4rem;
  --80-percent: 80%;
  --100-percent: 100%;
  --50-percent: 50%;
  --70-percent: 70%;
  --100vh: 100vh;
}

.App {
  position: relative;
}

.flex {
  display: flex;
}

.flexColumn {
  flex-direction: column;
}

.justifyCenter {
  justify-content: center;
}

.spaceBetween {
  justify-content: space-between;
}

.alignCenter {
  align-items: center;
}

.hover:hover {
  background: #0e98bb;
  color: #073946;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

@media (min-width: 200px) and (max-width: 767px) {
  :root {
    --2point5rem: 1.5rem;
    --4rem: 2rem;
    --3rem: 1.5rem;
    --1point5rem: 1rem;
    --80-percent: 100%;
    --70-percent: 100%
  }

  .projectLilDiv {
    flex-direction: column-reverse;
  }

  .aside1 {
    width: var(--100-percent);
  }

  .aside2 {
    width: var(--100-percent);
  }

  .appFooter {
    margin-bottom: 6vh;
  }
}